{{#each this}}
<div class='card'>
      <img class='card_img' src="{{url}}" alt="">
      <img src="./app/images/Triangle.png" alt="" class='arrow_img' >
       <ul  class='card_info'>
         <li>album name</li>
         <li>{{album}}</li>
         <li>artist name</li>
         <li>{{artist}}</li>
         <li>rank</li>
         <li>{{rank}}</li>
       </ul>
 
</div>

{{/each}}